<div class="content">

    <h2>Line graph</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-custom">
                <div class="card-header">
                    <!--<div class="col-md-3 float-left">-->
                        <!--<div class="option">-->
                            <!--<label>{{str_series_type}}</label>-->
                            <!--<div dx-select-box="seriesTypeDataSourceChange"></div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="col-md-3 float-left">
                        <div class="option">
                            <label>{{str_interval_type}}</label>
                            <div dx-select-box="intervalTypeDataSourceChange"></div>
                        </div>
                    </div>

                    <div class="float-right">
                        <div class="interval">

                            <label>{{str_interval}}</label><br>
                            <div ng-if="interval_day">
                                <div data-ng-repeat="int in buttons.day" dx-button="{
                                    stylingMode: 'contained',
                                    type: 'normal',
                                    width: 60,
                                    text: int.text,
                                    onClick: getInterval
                                }">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div data-ng-repeat="chart in chartDataSet">
                        <div dx-chart="chartOptions{{$index+1}}"></div>
                    </div>
                </div>
                <div class="card-footer ">
                    <div class="legend">
                    </div>
                    <div class="lds-roller" >
                        <hr>
                        <div class="stats">
                            <i class="fa fa-info"></i> Texting...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<div class="card card-custom">-->
                <!--<div class="card-header">-->
                    <!--<div class="col-md-3 float-left">-->
                        <!--<div class="option">-->
                            <!--<label>{{series_type}}</label>-->
                            <!--<div dx-select-box="dataSourceChange"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="card-body ">-->
                    <!--<div dx-chart="chartOptionsTwo"></div>-->
                <!--</div>-->
                <!--<div class="card-footer ">-->
                    <!--<div class="legend">-->
                    <!--</div>-->
                    <!--<div class="lds-roller" >-->
                        <!--<hr>-->
                        <!--<div class="stats">-->
                            <!--<i class="fa fa-info"></i> Texting...-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>

<!--<div id="chart-demo">-->
    <!--<div id="chart" dx-chart="chartOptions"></div>-->
    <!--<div class="options">-->
        <!--<div class="caption">Options</div>-->
        <!--<div class="option">-->
            <!--<span>Series Type</span>-->
            <!--<div dx-select-box="typesOptions"></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->